// * {
//   margin: 0;
//   padding: 0;
// }

.card {
  height: 700px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(208, 201, 199);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;

  &__image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__title {
    text-decoration: underline;
  }

  &__text::selection {
    background-color: pink;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;

  &__buttons {
    width: 200px;
    padding: 25px 50px;
    border-radius: 10px;
    font-size: 36px;

    &--primary {
      background-color: greenyellow;
    }

    &--secondary {
      background-color: brown;
    }
  }
}
